.about-container {
  padding: 2rem;
  max-width: 60%; /* Ajuste relativo para pantallas más pequeñas */
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fdfcfb;
  border-radius: 20px;
  margin-bottom: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-header {
  margin-bottom: 2rem;
}

.title1 {
  font-size: 2rem; /* Tamaño ajustable */
  font-weight: bold;
  margin-bottom: 1rem;
  color: #000;
  text-align: left;

}

.description1 {
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}

.highlight {
  font-weight: bold;
  color: #000;
}

.experience-section {
  margin-top: 2rem;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000;
  text-align: left;
}

.experience-item {
  display: flex;
  flex-wrap: wrap; /* Adaptable para pantallas pequeñas */
  align-items: start;
  margin-bottom: 2rem;
}

.icon1 {
  display: flex;
  width: 30px; /* Ajustado para pantallas pequeñas */
  height: 30px;
  border-radius: 10%;
  margin-right: 1.5rem;
  background-size: cover;
}

.education-icon {
  background-image: url('/src/images/icons8-graduado-100.png');
  background-size: cover;
}

.freelance-icon {
  background-image: url('/src/images/icons8-búsqueda.gif');
  background-size: cover;
}

.item-title {
  font-size: 1.1rem; /* Ajuste para pantallas más pequeñas */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.item-date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.item-description {
  font-size: 1rem;
  line-height: 1.5;
}

/* Media Queries */
@media (max-width: 768px) {
  .title1 {
    font-size: 1.8rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .description1,
  .item-description {
    font-size: 0.9rem;
  }

  .icon1 {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 1.5rem;
  }

  .title1 {
    font-size: 1.5rem;
  }

  .description1 {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: 1.3rem;
  }

  .item-title {
    font-size: 1rem;
  }

  .icon1 {
    width: 20px;
    height: 20px;
  }
}
