.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #000;
  border-radius: 10px;
  margin-bottom: 30px;
}

.contact-left {
  flex: 1;
}

.contact-left h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #546a7b;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #36454f;
}

.contact-right {
  flex: 1;
  text-align: right;
}

.contact-right h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1rem;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 0.5rem;
}

.social-links a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #546a7b;
}

/* Responsivo */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-left,
  .contact-right {
    flex: none;
    margin-bottom: 1.5rem;
  }

  .contact-right {
    text-align: center;
  }
}
